<div>
  <h2>Tweets</h2>
  <div class="container">
	<form [formGroup]="twitterForm" (ngSubmit)="onSubmit()">
	  <div>
	    <span class="label">
	      Enter twitter user name:
      </span>
	    <input id="twitter_user_name" type="text" formControlName="twitter_user_name">
	  </div>
    
    <button   id="submit" [disabled]="twitterForm.invalid || loader" class="button view-tweet" type="submit">
     <span  *ngIf="!loader"> View Tweets</span>

      <i *ngIf="loader" class="fa fa-spinner fa-spin"></i>
    </button>
	</form>
  </div>
  <ul class="tweetsContainer">
    <li *ngFor="let tweet of tweetList">
      <a [href]="tweet.tweetUrl" target="_blank">
        <div class="tweet">
          <div class="tweet-header">
            <img [src]="tweet.authorProfileImg" [alt]="tweet.author" class="profile-img">
            <div class="tweet-content">
              <p class="user-name">{{tweet.author}}</p>
              <p class="user-handler">{{tweet.authorScreenName | at}}</p>
              <p>{{tweet.text}}</p>
              <p>{{tweet.date | date:'short'}}</p>
            </div>
          </div>
          <ul class="tweet-data">
            <li>Retweeted: {{tweet.retweetCount}}</li>
            <li>Favorited: {{tweet.favoriteCount}}</li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</div>
